{% extends "base.html" %}

{% block content %}
  <h2>チェックシート詳細</h2>
  <p>
    リンク: 
    <a href='{{ request.scheme }}://{{ request.get_host }}/guest/login/?next=check_sheet/edit/{{check_sheet.id}}'>
      {{ request.scheme }}://{{ request.get_host }}/guest/login/?next=check_sheet/edit/{{check_sheet.id}}
    </a>
  </p>
  <form>
    {% for field in form %}
      <div>
        {{ field.label }}: {{ field.value }}
      </div>
    {% endfor %}
  </form>

  <a href="{% url 'check_sheet:top' %}" class="btn btn-secondary">戻る</a>
  <a href="{% url 'check_sheet:edit' check_sheet.id %}" class="btn btn-primary">編集</a>
{% endblock %}
