<!-- check_sheet/templates/check_sheet/check_sheet_created.html -->
{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>チェックシート作成完了</title>
</head>
<body>
    <h1>チェックシートの作成が完了しました。</h1>
    <p>以下のリンクとパスワードをゲストユーザーに送信してください:</p>
    
    <!-- ゲスト用リンクとパスワード -->
    <p>リンク: {{ request.scheme }}://{{ request.get_host }}/guest/login/?next=check_sheet/edit/{{check_sheet.id}}</p>
    <p>パスワード: {{ check_sheet.password }}</p>

    <br><br>
    <a href="{% url 'check_sheet:top' %}">チェックシートのTOP画面に戻る</a>
</body>
</html>

{% endblock %}
