{% extends "base.html" %}

{% block content %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/edit_check_sheet.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/edit_check_sheet.js' %}"></script>
{% endblock %}

<h2>タイトル: {{ check_sheet.title }}</h2>
<form method="post" id="edit-form">
    {% csrf_token %}
    <h2>チェックシート（可能な範囲でご記入願います）</h2>
    <div class="hearing-table-container">
        <table class="hearing-table">
            <tbody>
                {% for field in check_sheet_form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>診断対象システムの概要</h2>
    <div class="hearing-table-container">
        <table class="hearing-table">
            <tbody>
                {% for field in system_summary_form %}
                {% if field.name != "environment_other" %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>
                        {% if field.name == "environment" %}
                            <div class="radio-group">
                                {{ field }}
                                <span id="env-other-container" class="hidden">
                                    {{ system_summary_form.environment_other }}
                                </span>
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>診断対象情報</h2>
    {{ formset.management_form }}
    <div id="formset-table-container">
        <table id="formset-table" class="formset-table" data-empty-form="{{ formset.empty_form.as_p|force_escape }}">
            <thead>
                <tr>
                    <th>No</th>
                    <th>診断対象のURLまたはIPアドレス</th>
                    <th>ホスト名</th>
                    <th>OS</th>
                    <th>Webサーバ</th>
                    <th>APサーバ</th>
                    <th>フレームワーク</th>
                    <th>DBサーバ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="id_form-TOTAL_FORMS">
                {% for form in formset %}
                <tr class="form-row" style="{% if form.DELETE.value %}display: none;{% endif %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ form.url_or_ip_address }}</td>
                    <td>{{ form.host_name }}</td>
                    <td>{{ form.os }}</td>
                    <td>{{ form.web_server }}</td>
                    <td>{{ form.ap_server }}</td>
                    <td>{{ form.framework }}</td>
                    <td>{{ form.db_server }}</td>
                    {{ form.id }}
                    <td>
                        <button type="button" class="delete-row-btn">削除</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <button type="button" id="add-row-btn">1行追加</button>
    </div>

    <h2>診断用認証情報（認証有のアプリケーションでは必須）</h2>
    {{ login_formset.management_form }}
    <div id="login-credentials-table-container">
        <table id="login-credentials-table" class="formset-table" data-empty-form="{{ login_formset.empty_form.as_p|force_escape }}">
            <thead>
                <tr>
                    <th>No</th>
                    <th>ログインID</th>
                    <th>パスワード</th>
                    <th>権限</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="id_login_form-TOTAL_FORMS">
                {% for form in login_formset %}
                <tr class="form-row"  style="{% if form.DELETE.value %}display: none;{% endif %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ form.login_id }}</td>
                    <td>{{ form.password }}</td>
                    <td>{{ form.role }}</td>
                    {{ form.id }}
                    <td>
                        <button type="button" class="delete-row-btn">削除</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <button type="button" id="add-login-row-btn">1行追加</button>
    </div>


    <h2>診断対象に関するヒアリング事項（必須）</h2>
    <div class="hearing-table-container">
        <table class="hearing-table">
            <tbody>
                <tr>
                    <td>{{ required_question_form.ip_address_management.label_tag }}</td>
                    <td>
                        {{ required_question_form.ip_address_management }}
                        {% if required_question_form.ip_address_management.errors %}
                            <div class="error">{{ required_question_form.ip_address_management.errors }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr id="outsourcing-info-row" style="display: none;">
                    <td>{{ required_question_form.outsourcing_info.label_tag }}</td>
                    <td>
                        {{ required_question_form.outsourcing_info }}
                        {% if required_question_form.outsourcing_info.errors %}
                            <div class="error">{{ required_question_form.outsourcing_info.errors }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr id="pre-application-required-row" style="display: none;">
                    <td>{{ required_question_form.pre_application_required.label_tag }}</td>
                    <td>
                        {{ required_question_form.pre_application_required }}
                        {% if required_question_form.pre_application_required.errors %}
                            <div class="error">{{ required_question_form.pre_application_required.errors }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr id="pre-application-status-row" style="display: none;">
                    <td>{{ required_question_form.pre_application_status.label_tag }}</td>
                    <td>
                        {{ required_question_form.pre_application_status }}
                        {% if required_question_form.pre_application_status.errors %}
                            <div class="error">{{ required_question_form.pre_application_status.errors }}</div>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>事前に準備していただく資料（可能な範囲でご提供願います）</h2>
    <div class="hearing-table-container">
        <table class="hearing-table">
            <tbody>
                {% for field in prepared_docs_form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>診断実施日時（必須）</h2>
    <div class="hearing-table-container">
        <table class="hearing-table">
            <tbody>
                {% for field in assess_schedule_form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <h2>実施体制</h2>
    {{ member_formset.management_form }}
    <div id="member-table-container">
        <table id="member-table" class="formset-table" data-empty-form="{{ member_formset.empty_form.as_p|force_escape }}">
            <thead>
                <tr>
                    <th>No</th>
                    <th>会社</th>
                    <th>氏名</th>
                    <th>部署名</th>
                    <th>電話番号1</th>
                    <th>電話番号2</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="id_member_form-TOTAL_FORMS">
                {% for form in member_formset %}
                <tr class="form-row" style="{% if form.DELETE.value %}display: none;{% endif %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ form.company_name }}</td>
                    <td>{{ form.member_name }}</td>
                    <td>{{ form.department_name }}</td>
                    <td>{{ form.phone_number_1 }}</td>
                    <td>{{ form.phone_number_2 }}</td>
                    {{ form.id }}
                    <td>
                        <button type="button" class="delete-row-btn">削除</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
         <button type="button" id="add-member-row-btn">1行追加</button>
    </div>

    <br>
    <button type="button" onclick="window.history.back();">キャンセル</button>
    <button type="submit">保存</button>
</form>

<div id="delete-confirm-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <p>この行には入力値があります。本当に削除しますか？</p>
        <button id="confirm-delete-btn" type="button">削除</button>
        <button id="cancel-delete-btn" type="button">キャンセル</button>
    </div>
</div>
  

{% endblock %}